{:linters {:unresolved-symbol {:exclude [(cider.nrepl/def-wrapper)
                                         (cider.nrepl.middleware.util.instrument/definstrumenter)
                                         (cider.nrepl.middleware.util.instrument/with-break)
                                         (cider.nrepl.middleware.util.instrument/instrument-special-form)
                                         (cider.nrepl.middleware.util.instrument/instrument-coll)
                                         (cider.nrepl.print-method/def-print-method)]}
           :unresolved-namespace {:exclude [clojure.main]}}
 :output {:progress true
          :exclude-files ["data_readers" "tasks"]}}
