version: 2.1

######################################################################
#
# Start of general purpose config. These can plausibly go into orbs
#
######################################################################

# Default settings for executors

env_defaults: &env_defaults
  LEIN_ROOT: "true"   # we intended to run lein as root
  # JVM_OPTS:
  # - limit the maximum heap size to prevent out of memory errors
  # - print stacktraces to console
  JVM_OPTS: >
    -Xmx3200m
    -Dclojure.main.report=stderr

defaults: &defaults
  working_directory: ~/repo

# Runners for various OpenJDKs versions.
# NOTE: JDK 16 can be discarded after a few months, given it's not LTS.

executors:
  # JDK 8 is preferred for deployments (https://github.com/benedekfazekas/mranderson/issues/57)
  # Parallelism is disabled, at least for now (https://github.com/benedekfazekas/mranderson/issues/56)
  openjdk8_deploy:
    docker:
      - image: circleci/clojure:openjdk-8-lein-2.9.1-node
    <<: *defaults
    environment:
      LEIN_JVM_OPTS: -Dmranderson.internal.no-parallelism=true
      <<: *env_defaults
  openjdk8:
    docker:
      - image: circleci/clojure:openjdk-8-lein-2.9.1-node
    <<: *defaults
    environment:
      <<: *env_defaults
  openjdk11:
    docker:
      - image: circleci/clojure:openjdk-11-lein-2.9.1-node
    <<: *defaults
    environment:
      <<: *env_defaults
  openjdk16:
    docker:
      - image: circleci/clojure:openjdk-16-lein-2.9.5-buster-node
    <<: *defaults
    environment:
      <<: *env_defaults
  openjdk17:
    docker:
      - image: circleci/clojure:openjdk-17-lein-2.9.5-buster-node
    <<: *defaults
    environment:
      <<: *env_defaults

# Runs a given set of steps, with some standard pre- and post-
# steps, including restoring of cache, saving of cache.
#
# we also install `make` here.
#
# Adapted from https://github.com/lambdaisland/meta/blob/master/circleci/clojure_orb.yml

commands:
  with_cache:
    description: |
      Run a set of steps with Maven dependencies and Clojure classpath cache
      files cached.
      This command restores ~/.m2 and .cpcache if they were previously cached,
      then runs the provided steps, and finally saves the cache.
      The cache-key is generated based on the contents of `deps.edn` present in
      the `working_directory`.
    parameters:
      steps:
        type: steps
      files:
        description: Files to consider when creating the cache key
        type: string
        default: "deps.edn project.clj build.boot"
      cache_version:
        type: string
        description: "Change this value to force a cache update"
        default: "1"
    steps:
      - run:
          name: Install make
          command: |
            sudo apt-get install make
      - run:
          name: Generate Cache Checksum
          command: |
            for file in << parameters.files >>
            do
              find . -name $file -exec cat {} +
            done | shasum | awk '{print $1}' > /tmp/clojure_cache_seed
      - restore_cache:
          key: clojure-<< parameters.cache_version >>-{{ checksum "/tmp/clojure_cache_seed" }}
      - steps: << parameters.steps >>
      - save_cache:
          paths:
            - ~/.m2
            - linux-install-1.10.3.1040.sh
            - clojure-tools-1.10.3.1040.tar.gz
            - .cpcache
          key: clojure-<< parameters.cache_version >>-{{ checksum "/tmp/clojure_cache_seed" }}

# The jobs are relatively simple. One runs utility commands against
# latest stable JDK + Clojure, the other against specified versions

jobs:

  util_job:
    description: |
      Running utility commands/checks (linter etc.)
      Always uses Java11 and Clojure 1.10
    parameters:
      steps:
        type: steps
    executor: openjdk11
    environment:
      VERSION: "1.10"
    steps:
      - checkout
      - with_cache:
          cache_version: "1.10"
          steps: << parameters.steps >>

  deploy:
    executor: openjdk8_deploy
    steps:
      - checkout
      - run:
         name: Deploy
         command: |
           lein with-profile -user,+deploy run -m deploy-release make deploy

  test_code:
    description: |
      Run tests against given version of JDK and Clojure
    parameters:
      jdk_version:
        description: Version of JDK to test against
        type: string
      clojure_version:
        description: Version of Clojure to test against
        type: string
      parser_target:
        description: The Orchard Java parser to be exercised
        type: string
      test_command:
        description: The command to run
        type: string
    executor: << parameters.jdk_version >>
    environment:
      VERSION: << parameters.clojure_version >>
      PROJECT_VERSION: 999.99.9
    steps:
      - checkout
      - with_cache:
          cache_version: << parameters.clojure_version >>|<< parameters.jdk_version >>
          steps:
            - run:
                name: Running tests with inlined deps
                command: PARSER_TARGET=<< parameters.parser_target >> make --debug << parameters.test_command >>
            - run:
                name: Install the Clojure CLI
                command: |
                  # the `nc` option skips downloading a file as already present
                  # (as allowed by the Circle caching).
                  wget -nc https://download.clojure.org/install/linux-install-1.10.3.1040.sh
                  sed -i 's/curl -O/wget -nc/g' linux-install-1.10.3.1040.sh
                  chmod +x linux-install-1.10.3.1040.sh
                  sudo ./linux-install-1.10.3.1040.sh
            - run:
                name: Running tests specific to tools.deps
                command: make tools-deps-test

######################################################################
#
# End general purpose configs
#
######################################################################


# The ci-test-matrix does the following:
#
# - run tests against the target matrix
#   - Java 8/11/16/...
#   - Clojure 1.8, 1.9, 1.10, master
# - linter, eastwood and cljfmt

matrix_excludes: &matrix_excludes
  exclude:
    - jdk_version: openjdk8
      parser_target: "parser-next"
      clojure_version: "1.8"
      test_command: "test"
    - jdk_version: openjdk8
      parser_target: "parser"
      clojure_version: "1.8"
      test_command: "test"
    - jdk_version: openjdk8
      parser_target: "parser-next"
      clojure_version: "1.9"
      test_command: "test"
    - jdk_version: openjdk8
      parser_target: "parser"
      clojure_version: "1.9"
      test_command: "test"
    - jdk_version: openjdk8
      parser_target: "parser-next"
      clojure_version: "1.10"
      test_command: "test"
    - jdk_version: openjdk8
      parser_target: "parser"
      clojure_version: "1.10"
      test_command: "test"
    - jdk_version: openjdk8
      parser_target: "parser-next"
      clojure_version: "1.11"
      test_command: "test"
    - jdk_version: openjdk8
      parser_target: "parser"
      clojure_version: "1.11"
      test_command: "test"
    - jdk_version: openjdk8
      parser_target: "parser-next"
      clojure_version: "master"
      test_command: "test"
    - jdk_version: openjdk8
      parser_target: "parser"
      clojure_version: "master"
      test_command: "test"
    - jdk_version: openjdk8
      parser_target: "parser-next"
      clojure_version: "1.8"
      test_command: "smoketest"
    - jdk_version: openjdk8
      parser_target: "parser"
      clojure_version: "1.8"
      test_command: "smoketest"
    - jdk_version: openjdk8
      parser_target: "parser-next"
      clojure_version: "1.9"
      test_command: "smoketest"
    - jdk_version: openjdk8
      parser_target: "parser"
      clojure_version: "1.9"
      test_command: "smoketest"
    - jdk_version: openjdk8
      parser_target: "parser-next"
      clojure_version: "1.10"
      test_command: "smoketest"
    - jdk_version: openjdk8
      parser_target: "parser"
      clojure_version: "1.10"
      test_command: "smoketest"
    - jdk_version: openjdk8
      parser_target: "parser-next"
      clojure_version: "1.11"
      test_command: "smoketest"
    - jdk_version: openjdk8
      parser_target: "parser"
      clojure_version: "1.11"
      test_command: "smoketest"
    - jdk_version: openjdk8
      parser_target: "parser-next"
      clojure_version: "master"
      test_command: "smoketest"
    - jdk_version: openjdk8
      parser_target: "parser"
      clojure_version: "master"
      test_command: "smoketest"

workflows:
  version: 2.1
  ci-test-matrix:
    jobs:
      - test_code:
          matrix:
            alias: "plaintest_code"
            parameters:
              clojure_version: ["1.8", "1.9", "1.10", "1.11", "master"]
              jdk_version: [openjdk8, openjdk11, openjdk16, openjdk17]
              parser_target: ["parser-next", "parser", "legacy-parser"]
              test_command: ["test"]
            # It doesn't make sense to exercise the newer Orchard Java parsers against JDK8
            # (given that JDK8 is explicitly excluded by those parsers), so we exclude those combinations from the CI matrix:
            <<: *matrix_excludes
          filters:
            branches:
              only: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+(-alpha\d*)?(-beta\d*)?$/
      - test_code:
          matrix:
            alias: "smoketest_code"
            parameters:
              clojure_version: ["1.8", "1.9", "1.10", "1.11", "master"]
              jdk_version: [openjdk8, openjdk11, openjdk16, openjdk17]
              parser_target: ["parser-next", "parser", "legacy-parser"]
              test_command: ["smoketest"]
            # It doesn't make sense to exercise the newer Orchard Java parsers against JDK8
            # (given that JDK8 is explicitly excluded by those parsers), so we exclude those combinations from the CI matrix:
            <<: *matrix_excludes
          filters:
            branches:
              only: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+(-alpha\d*)?(-beta\d*)?$/
      - util_job:
          name: Code Linting
          filters:
            branches:
              only: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+(-alpha\d*)?(-beta\d*)?$/
          steps:
            - run:
                name: Running cljfmt
                command: |
                  make cljfmt
            # TODO: use `make kondo` instead once there's a fix for https://github.com/clj-kondo/clj-kondo/issues/2189
            - run:
                name: Running clj-kondo
                command: |
                  make light-kondo
            - run:
                name: Running Eastwood
                command: |
                  make eastwood
      - deploy:
          requires:
            - "plaintest_code"
            - "smoketest_code"
            - "Code Linting"
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+(-alpha\d*)?(-beta\d*)?$/
